@font-face {
  font-family: "Coves";
  src: url("./assets/Coves-Light.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Litsans";
  src: url("./assets/LitSans-Medium.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0e0e11;
  font-family: Coves;
  color: white;
  min-height: 100vh;
}
header {
  font-family: Litsans;
}

section {
  padding: 20px 80px;
  font-family: Coves;
  font-size: 1.125em;
  min-height: 100vh;
}

img {
  max-width: 100%;
  display: block;
}

.accent-text {
  color: #e68625;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 40px;
}

.main-nav a {
  color: inherit;
  text-decoration: none;
  padding: 1rem;
}

.main-nav a:hover {
  color: #adadad;
  cursor: pointer;
}

.main-nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.brand-logo {
  display: flex;
  align-items: center;
  font-size: 1.25em;
  color: inherit;
  text-decoration: none;
}

.brand-logo-name {
  margin-left: 1rem;
  font-size: 2.5rem;
}

.brand-logo img {
  width: 45px;
  height: 52px;
}

.main-nav li {
  margin-left: 1.5em;
}

.main-nav li :last-of-type {
  margin-right: 1.5em;
}

.accent-link {
  border: 1.4px solid #e68625;
  padding-left: 2em !important;
  padding-right: 2em !important;
}
.accent-link:hover {
  background: #e68625;
  color: #000000 !important;
  transition: ease 2000;
}

/* Intro section styles */
.intro-section {
  font-family: Coves;
  display: flex;

  max-height: 1080px;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5em;
}

.intro-image-wrapper {
  background: url(https://images.pexels.com/photos/931018/pexels-photo-931018.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  height: 100%;
  flex: 0 1 40%;
}

.intro-text-wrapper {
  display: flex;
  flex-direction: column;
}

.intro-text {
  font-size: 3.5em;
  font-weight: bolder;
  font-family: Litsans;
  margin: 0;
}

.intro-sub-text {
  margin: 0.5em 0 0 0;
  font-size: 1.5em;
}

.intro-para {
  margin: 1em 0 0 0;
}

.scroll-link {
  color: inherit;
  text-decoration: none;
  margin-top: 3em;
  border-bottom: 1.5px solid #e8446a;
  padding-bottom: 1em;
}

.stroke-text {
  -webkit-text-stroke: 1px white;
  color: transparent;
}

/* About us styles */

.about-us-wrapper {
  display: flex;
  margin-top: 2em;
}
.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  background-color: #f2f2f2;
}
.image-wrapper,
.our-info-wrapper {
  flex: 0 1 50%;
}
.our-info-wrapper h1 {
  font-size: 2em;
}
.image-wrapper {
  background: url(https://images.pexels.com/photos/7096/people-woman-coffee-meeting.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  padding: 3em 1em 1.5em;
  background-blend-mode: multiply;
  background-size: cover;
}

.our-info-wrapper {
  padding: 0 4em;
}
.timer-wrapper {
  text-align: center;
  font-size: 1.5em;
  margin-top: 3em;
}

/* Events styles */

.events-title {
  font-family: Litsans;
  font-size: 2em;
  margin: 1em 0 2em;
}

.events-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.event-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5em;
  padding: 0 9em;
}
.event-image-wrapper,
.event-info {
  flex: 0 1 50%;
}

.event-image {
  max-width: 25vw;
}

.register-button {
  color: black;
  background: #e68625;
  border: 1.2px solid #e68625;
  padding: 0.5em 1em;
  font-family: Litsans;
  font-size: 0.9em;
}

.register-button:hover {
  cursor: pointer;
  background: #0e0e11;
  border: 1.2px solid #e68625;
  color: white;
}
