@font-face {
  font-family: "Coves";
  src: url("./assets/Coves-Light.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Litsans";
  src: url("./assets/LitSans-Medium.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0e0e11;
  font-family: Coves;
  color: white;
  min-height: 100vh;
}
header {
  font-family: Litsans;
}

section {
  padding: 1.5em 4em;
  font-family: Coves;
  font-size: 1.125em;
}

img {
  max-width: 100%;
  display: block;
}

.accent-text {
  color: #e68625;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 40px;
}

.main-nav a {
  color: inherit;
  text-decoration: none;
  padding: 1rem;
}

.main-nav a:hover {
  color: #adadad;
  cursor: pointer;
}

.main-nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.brand-logo {
  display: flex;
  align-items: center;
  font-size: 1.25em;
  color: inherit;
  text-decoration: none;
}

.brand-logo-name {
  margin-left: 1rem;
  font-size: 2.5rem;
  color: #e68625;
  font-family: Litsans;
}

.brand-logo img {
  width: 45px;
  height: 52px;
}

.main-nav li {
  margin-left: 1.5em;
}

.main-nav li :last-of-type {
  margin-right: 1.5em;
}

.accent-link {
  border: 1.4px solid #e68625;
  padding-left: 2em !important;
  padding-right: 2em !important;
}
.accent-link:hover {
  background: #e68625;
  color: #000000 !important;
  transition: ease 2000;
}

/* Intro section styles */
.intro-section {
  font-family: Coves;
  display: flex;

  max-height: 1080px;
  align-items: center;
  justify-content: space-between;
}

.intro-image {
  overflow: hidden;
  max-width: 400px;
  max-height: 400px;
  flex: 0 1 50%;
}

/* About us styles */

.about-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.image-wrapper,
.our-info {
  flex: 0 1 50%;
}

/* Events styles */

.event-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2em;
  padding: 0 6em;
}
.event-image-wrapper,
.event-info {
  flex: 0 1 50%;
}
