@font-face {
  font-family: "Coves";
  src: url("./assets/Coves-Light.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Litsans";
  src: url("./assets/LitSans-Medium.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Coves;
  color: white;
  min-height: 100vh;
  align-items: center;
  max-width: none;
}

main {
  margin: 0 auto;
  overflow-x: hidden;
}
header {
  font-family: Litsans;
}

section {
  padding: 20px 80px;
  font-family: Coves;
  font-size: 1.125em;
  min-height: 100vh;
  border: none;
}

img {
  max-width: 100%;
  display: block;
}

.accent-text {
  color: #e68625;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 40px;
  background-color: #0e0e11;
}

.main-nav a {
  color: inherit;
  text-decoration: none;
  padding: 1rem;
}

.main-nav a:hover {
  color: #adadad;
  cursor: pointer;
}

.main-nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.brand-logo {
  display: flex;
  align-items: center;
  font-size: 1.25em;
  color: inherit;
  text-decoration: none;
}

.brand-logo-name {
  margin-left: 1rem;
  font-size: 2.5rem;
}

.brand-logo img {
  width: 45px;
  height: 52px;
}

.main-nav li {
  margin-left: 1.5em;
}

.main-nav li :last-of-type {
  margin-right: 1.5em;
}

.accent-link {
  border: 1.4px solid #e68625;
  padding-left: 2em !important;
  padding-right: 2em !important;
  -webkit-transition: background-color 190ms linear;
  -moz-transition: background-color 190ms linear;
  -o-transition: background-color 190ms linear;
  -ms-transition: background-color 190ms linear;
  transition: background-color 190ms linear;
}
.accent-link:hover {
  background: #e68625;
  color: #000000 !important;
}

/* Intro section styles */
.intro-section {
  font-family: Coves;
  display: flex;
  background-color: #0e0e11;
  max-height: 1080px;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5em;
  position: relative;
  margin-bottom: 200px;
  padding-top: 3em;
  padding-bottom: 3em;
}
.intro-section::after {
  content: "";
  position: absolute;
  bottom: -200px;
  left: 0;
  width: 100%;
  height: 200px;
  background: #0e0e11;
  clip-path: polygon(100% 0, 0 0, 100% 100%);
}

.intro-image-wrapper {
  flex-basis: 40%;
}

.intro-text-wrapper {
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
  margin-right: 1em;
}

.intro-text {
  font-size: 3.5em;
  font-weight: bolder;
  font-family: Litsans;
  margin: 0;
}

.intro-sub-text {
  margin: 0.5em 0 0 0;
  font-size: 1.5em;
}

.intro-para {
  margin: 1em 0 0 0;
  letter-spacing: 5px;
}

.scroll-link {
  color: inherit;
  text-decoration: none;
  margin-top: 3em;
  position: relative;
  padding-bottom: 1.5em;
}
.scroll-link::after {
  content: " ";
  display: block;
  position: absolute;
  height: 2px;
  background: #e8446a;
  width: 70%;
  bottom: 0;
  left: 0;
  /* top: calc(50% - 2px); */
}

.stroke-text-white {
  -webkit-text-stroke: 1px white;
  color: transparent;
}

.stroke-text-black {
  -webkit-text-stroke: 1px black;
  color: transparent;
}
/* About us styles */

.about-us-wrapper {
  display: flex;
  margin-top: 2em;
}
.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  background-color: #f2f2f2;
  position: relative;
  margin-bottom: 200px;
}

.about-us::before {
  content: "";
  position: absolute;
  top: -200px;
  left: 0;
  width: 100%;
  height: 200px;
  background: #f2f2f2;
  clip-path: polygon(100% 100%, 0 0, 0 100%);
}
.about-us::after {
  content: "";
  position: absolute;
  bottom: -200px;
  left: 0;
  width: 100%;
  height: 200px;
  background: #f2f2f2;
  clip-path: polygon(0 0, 0 100%, 100% 0);
}

.image-wrapper,
.our-info-wrapper {
  flex: 0 1 50%;
}
.our-info-wrapper h1 {
  font-size: 2em;
}
.image-wrapper {
  background: url(https://images.pexels.com/photos/7096/people-woman-coffee-meeting.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  padding: 3em 1em 1.5em;
  background-blend-mode: multiply;
  background-size: cover;
  max-width: 600px;
}

.our-info-wrapper {
  padding: 0 4em;
}

/* Timer styles */
.timer-container {
  color: #333;
  text-align: center;
  margin-top: 2em;
}

#head {
  font-size: 2em;
  color: #e68625;
}

.timer li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 4.5rem;
}

/* Events styles */

.events-title {
  font-family: Litsans;
  font-size: 2.5em;
  margin: 1em 0 2em;
}

.events-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0e0e11;
  position: relative;
  margin-bottom: 200px;
  border: none;
}

.events-section::before {
  content: "";
  position: absolute;
  top: -200px;
  left: 0;
  width: 100%;
  height: 200px;
  background: #0e0e11;
  clip-path: polygon(0 100%, 100% 100%, 100% 0);
}

.events-section::after {
  content: "";
  position: absolute;
  bottom: -200px;
  left: 0;
  width: 100%;
  height: 200px;
  background: #0e0e11;
  clip-path: polygon(100% 0, 0 0, 100% 100%);
  border: none;
}
.event-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5em;
  padding: 0 9em;
}
.event-image-wrapper,
.event-info {
  flex: 0 1 50%;
}

.event-image {
  max-width: 25vw;
}

.register-button {
  color: black;
  background: #e68625;
  border: 1.2px solid #e68625;
  padding: 0.5em 1em;
  font-family: Litsans;
  font-size: 0.9em;
  -webkit-transition: background-color 190ms linear;
  -moz-transition: background-color 190ms linear;
  -o-transition: background-color 190ms linear;
  -ms-transition: background-color 190ms linear;
  transition: background-color 190ms linear;
}

.register-button:hover {
  cursor: pointer;
  background: #0e0e11;
  border: 1.2px solid #e68625;
  color: white;
}

/* Speaker section styles  */

.speaker-title {
  font-family: Litsans;
  font-size: 2.5em;
  margin: 1em 0 2em;
  color: #e68625;
}
.speakers-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f2f2f2;
  align-items: center;
  position: relative;
  margin-bottom: 200px;
}

.speakers-section::before {
  content: "";
  position: absolute;
  top: -200px;
  left: 0;
  width: 100%;
  height: 200px;
  background: #f2f2f2;
  clip-path: polygon(0 0, 0 100%, 100% 100%);
}

.speakers-section::after {
  content: "";
  position: absolute;
  bottom: -200px;
  left: 0;
  width: 100%;
  height: 200px;
  background: #f2f2f2;
  clip-path: polygon(100% 0, 0 0, 0 100%);
}

::selection {
  background: grey;
  color: whitesmoke;
}

.speakers-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.speakercard {
  width: 250px;
  height: 285px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #444141d3;
  background-image: url(https://www.icmif.org/sites/default/files/styles/inline_left/public/Ross%20Dawson%20news.jpg?itok=b_xYKzNZ);
  color: #e68625;
  background-blend-mode: multiply;
  margin: 1.2em;
  background-size: cover;
  transition: 0.2s transform ease-in-out;
}

.speaker-name {
  font-size: 1.4em;
}

.speaker-info {
  color: white;
  margin: 0.2em 0;
  font-size: 1.1em;
}
.speakercard:hover {
  filter: none;
  box-shadow: 0 3px 4px 0 black;
  transform: scale(0.9);
}

/* Associations styles */
.associations-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #0e0e11;
  align-items: center;
  position: relative;
  margin: 0 auto;
  margin-bottom: 200px;
}

.associations-section::before {
  content: "";
  position: absolute;
  top: -200px;
  left: 0;
  width: 100%;
  height: 200px;
  background: #0e0e11;
  clip-path: polygon(0 100%, 100% 100%, 100% 0);
}

.associations-section::after {
  content: "";
  position: absolute;
  bottom: -200px;
  left: 0;
  width: 100%;
  height: 200px;
  background: #0e0e11;
  clip-path: polygon(100% 0, 0 0, 100% 100%);
  border: none;
}

.association-title {
  color: #e68625;
  font-family: Litsans;
  font-size: 2.5em;
  margin: 1em 0 1em;
}

.asso-card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 5em;
}

.asso-card {
  width: 120px;
  height: 120px;
  background-image: url(https://www.icmif.org/sites/default/files/styles/inline_left/public/Ross%20Dawson%20news.jpg?itok=b_xYKzNZ);
  background-size: cover;
  margin: 1em;
  transition: 0.2s transform ease-in-out;
}

.asso-card:hover {
  transform: scale(1.1);
}

/* Team styles */

.team-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f2f2f2;
  align-items: center;
  position: relative;
  margin-bottom: 150px;
}

.team-section::before {
  content: "";
  position: absolute;
  top: -200px;
  left: 0;
  width: 100%;
  height: 200px;
  background: #f2f2f2;
  clip-path: polygon(0 0, 0 100%, 100% 100%);
}

.team-section::after {
  content: "";
  position: absolute;
  bottom: -150px;
  left: 0;
  width: 100%;
  height: 150px;
  background: #f2f2f2;
  clip-path: polygon(100% 0, 0 0, 50% 100%);
}

.team-title {
  color: #e68625;
  font-family: Litsans;
  font-size: 2.5em;
  margin: 1em 0 2em;
}

.team-card-wrapper {
  display: flex;
  justify-content: space-between;
}
.team-card {
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #444141d3;
  background-image: url(https://www.icmif.org/sites/default/files/styles/inline_left/public/Ross%20Dawson%20news.jpg?itok=b_xYKzNZ);
  color: #e68625;
  background-blend-mode: multiply;
  flex: 0 1 33%;
  margin: 1em;
  background-size: cover;

  transition: 0.2s transform ease-in-out;
}

.team-card:hover {
  transform: scale(0.9);
}

.team-name {
  margin: 0 1em 1.3em;
  font-size: 1.4em;
}
.team-info {
  color: white;
  margin: 0 1em;
  font-size: 1.1em;
}

.footer-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #0e0e11;
  align-items: center;
  position: relative;
}

.footer-section::before {
  content: "";
  position: absolute;
  top: -150px;
  left: 0;
  width: 100%;
  height: 150px;
  background: #0e0e11;
  clip-path: polygon(100% 0, 100% 100%, 50% 100%);
}

.footer-section::after {
  content: "";
  position: absolute;
  top: -150px;
  left: 0;
  width: 100%;
  height: 150px;
  background: #0e0e11;
  clip-path: polygon(0 0, 0 100%, 50% 100%);
}

/* media queries */
@media only screen and (max-width: 641px) {
  main {
    margin: 0 0;
    width: 100%;
  }
}
